form{
  background-color: rgb(211, 240, 231);
  width: 400px;
  text-align: center;
  padding: 20px;
  margin: 50px;
  

}
form label{
  display: inline-block;
  width: 100px;
  font-family: sans-serif;
  margin: 15px;
  padding: 15px;
}
form input {
  width: 50px;
  height:30px ;
  margin: 20px;
}
span{
  width: 100px;
  padding: 6px;
 box-sizing: border-box;
 display: inline-block;
  
}
h1{
  color: blueviolet;
  font-family: serif;

}
button{
  height: 30px;
  width: 100px;
  border: 3px groove rgb(32, 31, 31);
  background-color: rgb(243, 217, 183);
  border-radius: 5px;
}
p{
  color: brown;
  font-family: cursive;
  font-size: 24px;
  
}